@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Questrial');

body{
    margin:0%;
    width:100vw;
    background:var(--bg-color);
    color:var(--text-color);
    max-width:100vw;
    overflow-x:hidden;
    align-items:center;
    font-family: 'Poppins', sans-serif;
    background-image: url("https://i.ibb.co/DpPn4tJ/jeremy-perkins-uhjiu8-Fjns-Q-unsplash.jpg");
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--bg-color);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#spinner {
    animation: rotate 0.4s infinite linear;/*0.5*/
    width:100px;/*50*/
    height:100px;/*50*/
    border:2px solid var(--bg-color);
    border-bottom:8px solid var(--text-color);
    border-radius:100%;
    margin:0;
  }

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes line {
    from {
      left:10%;
      width:0%;
    }
    to {
      left:10%;
      width:200%;
    }
  }

#profile {
    width:24vw;
    padding:4vh 3vw;
    height:92vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    background:var(--background-image) center center;
    background-size: cover !important;
    background-repeat:no-repeat;
    position:fixed;
    color:#fff !important;
}

#display {
    width:62vw;
    padding:4vh 3vw;
    height:92vh;
    display:inline-block;
    padding-left:33vw;
}

#display h1 {
    font-size:50px;
    color:var(--text-color);
    font-weight:bold;
    font-family: 'Questrial', sans-serif;
}

.snowflake {
    background-color: #fff;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 100%;
    width: 10px;
    height: 10px;
  }

.emoji {
    width:18px;
    height:18px;
}

#profile_img_blog {
    border-radius:50%;
    width:90px;
    height:90px;
    background-size:cover !important;
    background-repeat: no-repeat;
}

#username_blog {
    font-size:18px;
    color:var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}

#username_blog span {
    font-size:24px;
    font-family: 'Questrial', sans-serif !important;
}

#username_blog b {
    font-size:12px;
    font-family:'Poppins', sans-serif;
    font-weight:bold;
}

#blog-display {
    width:60vw;
    margin:0px 20vw;
    text-align:left;
    margin-top:3vh;
    z-index:1;
}

#profile_blog {
    width:60vw;
    margin:0px 20vw;
    margin-top:10vh;
    text-align:left;
    z-index:1;
}

#background {
    width:100vw;
    height:55vh;
    background:var(--background-background);
    background-size:cover !important;
    background-repeat:no-repeat;
    position: absolute;
    z-index:-1;
    margin-top:-10vh;
}

#blog-display h1 {
    font-size:50px;
    color:var(--text-color);
    font-weight:bold;
    font-family: 'Questrial', sans-serif;
}

#blog-display h2 {
    color:var(--blog-gray-color);
}

#blog-display {
    padding:1vh 0px;
    font-family: 'Questrial', sans-serif;
}

#blog p {
    font-size:17px;
    line-height:25px;
    word-spacing:1.2px;
    margin:5vh 0px;
}

#blog p span {
    padding:2px 4px;
    background:var(--text-color);
    color:var(--bg-color) !important;
}

#blog img {
    width:100%;
    margin:2vh 0px;
    border-radius:5px;
    border:1px solid rgb(0, 0, 0, 0.08);
}

#header {
    width:63vw;
    text-align:right;
    padding:3vh 0px;
    position:absolute;
}

#header a {
    color:var(--text-color);
    text-decoration:none;
    margin-left:4vw;
    font-weight:bold;
}

#footer_blog {
    width:90vw;
    padding:8vh 5vw;
    text-align:center;
}

#footer_blog a {
    color:var(--text-color) !important;
    text-decoration:none;
    font-family: 'Questrial', sans-serif;
    font-weight:bold;
}

#footer {
    width:100%;
    padding:8vh 0px;
    text-align:center;
}

#footer a {
    color:var(--text-color) !important;
    text-decoration:none;
    font-family: 'Questrial', sans-serif;
    font-weight:bold;
}

#profile_img {
    width:250px;
    height:250px;
    border: solid #fff;
    border-width: 5px 5px;
    border-radius: 125px;
    background-size:cover !important;
}

#profile div {
    font-weight:bold;
    margin:1.5vh 0px;
}

#username {
    font-size:18px;
    font-weight:bold;
}

#username span {
    font-size:24px;
}

#userbio {
    font-size:26px;
    font-family: 'Questrial', sans-serif;
    width:100%;
}

#about {
    font-size:18px;
    font-family: 'Questrial', sans-serif;
}

#about a,
#username a {
    color:#fff !important;
    text-decoration:none;
    font-weight:bold;
}

#about a:hover,
#username a:hover {
    text-decoration:underline;
}

#about span {
    margin:1vh 0px;
    display:block;
}

#about span i {
    font-size:16px;
}

#work {
    margin:2vh 0px;
    padding:4vh 0px !important;
}

#forks {
    margin:2vh 0px;
    padding:4vh 0px !important;
}

.projects {
    columns:2;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}

.btn-white {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.projects section {
    width:85%;
    padding:2.5vh 5%;
    display:inline-block;
    border-radius:5px;
    color:var(--text-color);
    border:3px solid gray;
    box-shadow:0px 0px 0px rgb(0, 0, 0, 0);
    transition:0.4s ease-in-out;
    margin:2vh 0px;
    transform:scale(1);
}

.projects section:hover {
    cursor: pointer;
    transform:scale(1.02);
    border:1px solid white;
    box-shadow:0px 15px 35px rgb(0, 0, 0, 0.06);
}


#gtco-features-3 {
    position: relative;
    top: -7em;
    padding-bottom: 50px;
  }

  .gtco-flex {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    float: left;
  }      

  .gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  
#gtco-features-3 {
position: relative;
top: -7em;
}
@media screen and (max-width: 768px) {
#gtco-features-3 {
  top: -2em;
}
}
#gtco-features-3 .feature {
width: 25%;
float: left;
padding: 30px;
background: #272727;
position: relative;
text-align: center;
border: 1px solid #ccc;
border-radius: 5px;
}
@media screen and (max-width: 768px) {
#gtco-features-3 .feature {
  width: 100%;
  margin-bottom: 30px;
}
}
#gtco-features-3 .feature h3 {
color: #fff;
font-size: 18px;
margin-bottom: 15px;
text-transform: uppercase;
}
#gtco-features-3 .feature p {
color: rgba(255, 255, 255, 0.7);
font-size: 16px;
line-height: 1.7;
}
#gtco-features-3 .feature .icon {
display: block;
width: 90px;
height: 90px;
margin: 0 auto 10px auto;
position: relative;
background-image: linear-gradient(+180deg,#fff,#BDBDBD,#808080,#3A3A3A,#000000);
top: -3em;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
}
#gtco-features-3 .feature .icon i {
line-height: 90px;
height: 90px;
font-size: 40px;
color: #fff;
}
#gtco-features-3 .feature .icon i:before {
display: block;
text-align: center;
margin-left: 3px;
}
#gtco-features-3 .feature.feature-1 {
z-index: 7;
}
#gtco-features-3 .feature.feature-2 {
bottom: 0px;
z-index: 10;
-webkit-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
background: #181818;
}
@media screen and (max-width: 768px) {
#gtco-features-3 .feature.feature-2 {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
}
#gtco-features-3 .feature.feature-2 .icon {
background-image: linear-gradient(+180deg,#fff,#BDBDBD,#808080,#3A3A3A,#000000);
}
#gtco-features-3 .feature.feature-2 .feature-inner {
top: -3em;
position: relative;
}
@media screen and (max-width: 768px) {
#gtco-features-3 .feature.feature-2 .feature-inner {
  top: 0;
}
}
#gtco-features-3 .feature.feature-2:before {
position: absolute;
top: -50px;
content: "";
background: #ccc;
height: 50px;
width: 100%;
left: 0;
border-top-left-radius: 2.5px;
border-top-right-radius: 2.5px;
}
@media screen and (max-width: 768px) {
#gtco-features-3 .feature.feature-2:before {
  display: none;
}
}
#gtco-features-3 .feature.feature-2:after {
position: absolute;
bottom: -30px;
content: "";
background: #ccc;
height: 30px;
width: 100%;
left: 0;
border-bottom-left-radius: 2.5px;
border-bottom-right-radius: 2.5px;
}
@media screen and (max-width: 768px) {
#gtco-features-3 .feature.feature-2:after {
  display: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
}
#gtco-features-3 .feature.feature-3 {
z-index: 7;
background: #272727;
}
#gtco-features-3 .feature.feature-3 .icon {
    background-image: linear-gradient(+180deg,#fff,#BDBDBD,#808080,#3A3A3A,#000000);
}

#timeline:before {
    background-image: linear-gradient(+180deg,#000000,#3A3A3A,#808080,#BDBDBD,#fff);
    width: 8px;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 5px;
  }

#timeline {
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
  }

#timeline:after {
    content: '';
    position: absolute;
    background-image: linear-gradient(+180deg,#000000,#3A3A3A,#808080,#BDBDBD,#fff);
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }

  i {
      transform: scale(1);
  }

i:hover {
    cursor: pointer;
    border:1px solid white;
    box-shadow:0px 15px 35px rgb(0, 0, 0, 0.06);
    transform:scale(1.02);
}

.container {
  max-width: 1140px;
  width: 95%;
    position: relative;
    margin: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .card {
  position: relative;
  width: 380px;
  height: 200px;
  background-color: #181818;
  overflow: hidden;
  margin-bottom: 25px;
  cursor: pointer;
}
.container .card:before {
  content: "";
  z-index: 99;
  position: absolute;
  top: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
.container .card:after {
  content: "";
  z-index: 99;
  position: absolute;
  bottom: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
.container .card ul {
  z-index: 99;
  position: absolute;
  left: 39px;
  top: 5px;
  list-style-type: none;
}
.container .card ul li {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: #e6e5e1;
}
.container .card h2 {
  z-index: 99;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  right: 130px;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.container .card .fa-arrow-right {
  z-index: 100;
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 40px;
  cursor: pointer;
}
.container .card p {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 70px;
  color: #333;
  opacity: 0.7;
  font-size: 12px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.container .card .pic {
  z-index: 100;
  width: 80%;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
  background-size: 100% 100%;
  filter: grayscale(100%);
}
.container .card .social {
  position: absolute;
  left: 60px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  height: 64px;
  border-radius: 80px;
}
.container .card .social i:nth-of-type(1) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.container .card .social i:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.container .card .social i:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.container .card .social i:nth-of-type(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.container .card:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.container .card button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  background-color: #da4d1d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
}
.container .card button i {
  font-size: 3rem;
}
.container .card:hover button {
  transform: scale(16.5);
}
.container .card:hover p {
  color: #fff;
}
.container .card:hover .pic {
  filter: grayscale(0);
}
.container .card2 .pic {
  background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}
.container .card2 button {
  background-color: #2b26c3;
}
.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

.section_title {
    font-size:24px;
    font-weight:bold;
    margin:1vh 0px;
    padding:0px 1px;
    word-wrap: break-word;
}

.about_section {
    font-size:18px;
    font-family: 'Questrial', sans-serif;
    margin:2vh 0px;
    font-weight:bold;
    word-wrap: break-word;
}

.bottom_section {
    margin:1vh 0px;
    font-size:14px;
    word-wrap: break-word;
}

.bottom_section span {
    margin-right:20px;
    font-weight:bold;
}

.bottom_section span i {
    font-size:15px;
}

#blog_section {
    margin:2vh 0px;
    padding:2vh 0px !important;
}

#blogs {
    columns:2;
}

#blogs section {
    width:85%;
    display:inline-block;
    border-radius:5px;
    color:var(--text-color);
    border:1px solid rgb(0, 0, 0, 0.04);
    box-shadow:0px 0px 0px rgb(0, 0, 0, 0);
    transition:0.4s ease-in-out;
    transform:scale(1);
    padding:0px;
    margin:2vh 0px;
}

#blogs section img {
    width:100%;
    border-radius:5px 5px 0px 0px;
}

.blog_container {
    padding:2.5vh 5%;
}

#blogs section:hover {
    cursor: pointer;
    border:1px solid rgb(0, 0, 0, 0);
    box-shadow:0px 15px 35px rgb(0, 0, 0, 0.06);
    transform:scale(1.03);
}

.go_back {
    position: absolute;
    color:var(--text-color);
    font-size:26px;
    margin-left:5vw;
    margin-top:4vh;
}

::selection {
    color:var(--bg-color); 
    background:var(--text-color);
}

#fh5co-header {
    height: 70vh;
    width: 60vw;
    position: relative;
    content: 'viewport-units-buggyfill; height:100vh; width: 100vw';
    display: table;
  }

  .fh5co-project {
    height: 100vh;
    width: 100vw;
    content: 'viewport-units-buggyfill; height:100vh; width:100vw';
    display: table;
    position: relative;
  }
  .fh5co-project:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.03);
    width: 101%;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);
  }
  .fh5co-project.no-border {
    border-bottom: none;
  }
  .fh5co-project.no-border:before {
    display: none;
  }

  #fh5co-header .fh5co-text-wrap {
    height: 80vh;
    width: 80vw;
    content: 'viewport-units-buggyfill';
    display: table-cell;
    vertical-align: middle;
  }

  #fh5co-header .fh5co-intro-text {
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);
    text-align: center;
  }

  #fh5co-header h1 {
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #fh5co-header h1 span {
    font-family: "Playfair Display", Times, serif;
    font-style: italic;
    text-transform: none !important;
  }
  @media screen and (max-width: 1200px) {
    #fh5co-header h1 {
      font-size: 2.9em;
      line-height: 80px;
      font-weight: 700;
      letter-spacing: 9px;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-header h1 {
      font-size: 2.2em;
      line-height: 60px;
      font-weight: 700;
      letter-spacing: 9px;
    }
  }
  @media screen and (max-width: 480px) {
    #fh5co-header h1 {
      font-size: 1.5em;
      line-height: 50px;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
  #fh5co-header span {
    margin: 0;
    padding: 0;
  }
  #fh5co-header h2 {
    font-family: "Playfair Display", Times, serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    letter-spacing: .09em;
  }
  @media screen and (max-width: 480px) {
    #fh5co-header h2 {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    #fh5co-header .fh5co-text-wrap {
      height: auto !important;
      padding: 3em 0;
      height: 100vh;
      width: 100vw;
      content: 'viewport-units-buggyfill; height:100vh; width: 100vw';
    }
  }


@media (max-width: 800px){
    #profile {
        width:90vw;
        padding:4vh 5vw;
        height:60vh;
        text-align:center;
        position: relative;
    }
    #display {
        width:90vw;
        padding:4vh 5vw;
        height:auto;
        display:inline-block;
        padding-left:5vw;
    }
    #profile_img {
        width:120px;
        height:120px;
        margin:0px auto !important;
    }

    #work {
        margin:0px;
    }
    .projects {
        columns:1;
    }
    .projects section {
        width:88%;
    }
    #blogs {
        columns:1;
    }
    #blogs section {
        width:98%;
    }
    #blog_section {
        margin:0px;
    }
    #blog-display {
        width:90vw;
        margin:0px 5vw;
        text-align:left;
        margin-top:0vh;
        z-index:1;
    }
    #profile_blog {
        width:90vw;
        margin:0px 5vw;
        margin-top:10vh;
        text-align:left;
        z-index:1;
    }
    .go_back {
        position: relative;
        color:var(--text-color);
        font-size:26px;
        margin-left:5vw;
        top:5vh;
    }
    #blog img {
        margin:1vh 0px !important;
    }
    #blog p {
        margin:2vh 0px;
    }
}

::-webkit-scrollbar {width:5px;height:5px;}
::-webkit-scrollbar-track {background:var(--bg-color);}
::-webkit-scrollbar-thumb {background:var(--text-color);}
:root {
  --bg-color: #000;
  --text-color: #fff;
  --blog-gray-color: rgb(80, 80, 80);
  --background-image: linear-gradient(90deg, rgba(10, 10, 10, 0.4), rgb(10, 10, 10, 0.4)), url("https://i.ibb.co/ZXR11WD/ivana-cajina-asuyh-ZX54-unsplash.jpg");
  --background-background: #fff;
}
